<!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Piano++</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" >
					<h1 id="logo"><a href="index.html">Piano++ <span>with Angelhack</span></a></h1>
					<nav id="nav">
												<ul>
							<li><a href="index.html">Home</a></li>
                            <li class="current"><a href="help.html">Help</a></li>
							<!--<li class="submenu">
								<a href="#">About</a>
								<ul>
									<li><a href="left-sidebar.html">Mentors</a></li>
									<li><a href="right-sidebar.html">Students</a></li>
									<li><a href="no-sidebar.html">Lobby</a></li>
                                    <li><a href="no-sidebar.html">Our Team</a></li>
									<li><a href="contact.html">Contact</a></li>
									
								</ul>
							</li>-->
                            <li><a href="about.html">About</a></li>
                            <li><a href="login.html">Log In</a></li>
							<li><a href="signup.html" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>


			<!-- Main -->
				<article id="main">

					<header class="special container">
						
						<h2>How to Find a Tutor</h2>
						<p>Finding a tutor for your needs is easier than ever with our directory and 24/7 availalbility. Simply head on over to the Lobby after logging in to check out those currently online!</p>
					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
                                        <h2>Our services offered include mentorship for competitions, adjudications, performances, or even for personal purposes!</h2>
                                        
									</header>
									<p>We offer <strong>interactive</strong> MIDI keyboard analysis, complete with an <strong>online</strong><br>audio and facial recognition system, as well as <strong>compatibility</strong> with all digital instruments.</p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button">Find Out More</a></li>
										</ul>
									</footer>

								</div>
								<div class="4u 12u(narrower) important(narrower)">

									<ul class="featured-icons">
										<li><span class="icon fa-coffee"><span class="label">Feature 1</span></span></li>
										<li><span class="icon fa-laptop"><span class="label">Feature 2</span></span></li>
										<li><span class="icon fa-search"><span class="label">Feature 3</span></span></li>
										<li><span class="icon fa-users"><span class="label">Feature 4</span></span></li>
										<li><span class="icon fa-mobile"><span class="label">Feature 5</span></span></li>
										<li><span class="icon fa-headphones"><span class="label">Feature 6</span></span></li>
									</ul>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Recommended for all skill levels</h3>
										</header>
										<p>Our mentors are available 24/7 to help students of all backgrounds, regardless of experience or skill.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Zero fuss</h3>
										</header>
										<p>Implementing WebRTC and Node.JS keyboard and audio analysis, we promise zero connectivity issues, no bulky software, and no aggravating delays.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Pay as you go</h3>
										</header>
										<p>With a pay-per-minute tutoring plan, you have the flexibility to choose how and when you would like your lessons.</p>
									</section>

								</div>
							</div>
						</section>

					

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
					
					</ul>

					<ul class="copyright">
						<li>&copy; Piano++</li><li>Made with ♥ at <a href="http://angelhack.com/hackathon/manhattan-2015/">Angelhack</a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
