<div class="center jumbotron">
	<h1>Welcome to Piano++</h1>
	<h2>This is the home page for the best on-demand piano tutoring site in the world</h2>
	<%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>

	 <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>Help create connections between piano learners and piano tutors</p>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <!DOCTYPE HTML>
<!--
	Twenty by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Piano++</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.html">Piano++ <span>with Angelhack</span></a></h1>
					<nav id="nav">
												<ul>
							<li class="current"><a href="index.html">Home</a></li>
                            <li><a href="help.html">Help</a></li>
							<!--<li class="submenu">
								<a href="#">About</a>
								<ul>
									<li><a href="left-sidebar.html">Mentors</a></li>
									<li><a href="right-sidebar.html">Students</a></li>
									<li><a href="no-sidebar.html">Lobby</a></li>
                                    <li><a href="no-sidebar.html">Our Team</a></li>
									<li><a href="contact.html">Contact</a></li>
									
								</ul>
							</li>-->
                            <li><a href="about.html">About</a></li>
                            <li><a href="login.html">Log In</a></li>
							<li><a href="signup.html" class="button special">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>PIANO++</h2>
						</header>
						<p>We are an <strong>interactive</strong>, free
						<br />
						realtime musical 
						<br />
						learning experience.</p>
						<footer>
							<ul class="buttons vertical">
								<li><a href="about.html" class="button fit scrolly">Tell Me More</a></li>
							</ul>
						</footer>

					</div>

				</section>

			<!-- Main -->
				<article id="main">

					<header class="special container">
						<span class="icon fa-music"></span>
						<h2>We are the only <strong>interactive</strong> user-based 
						<br />
						online musical learning platform..</h2>
						<p>We are built with WebRTC, ASP.NET, Node.JS, Socket.IO, jQuery, and AWS to name a few. 
						<br /
						Designed with the <strong>user</strong> in mind, we seek
						<br />
						to bring musical education to people of all backgrounds. Join us today!</p>
					</header>

					<!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
                                        <h2>Our services offered include mentorship for competitions, adjudications, performances, or even for personal purposes!</h2>
                                        
									</header>
									<p>We offer <strong>interactive</strong> MIDI keyboard analysis, complete with an <strong>online</strong><br>audio and facial recognition system, as well as <strong>compatibility</strong> with all digital instruments.</p>
									<footer>
										<ul class="buttons">
											<li><a href="about.html" class="button">Find Out More</a></li>
										</ul>
									</footer>

								</div>
								<div class="4u 12u(narrower) important(narrower)">

									<ul class="featured-icons">
										<li><span class="icon fa-coffee"><span class="label">Feature 1</span></span></li>
										<li><span class="icon fa-laptop"><span class="label">Feature 2</span></span></li>
										<li><span class="icon fa-search"><span class="label">Feature 3</span></span></li>
										<li><span class="icon fa-users"><span class="label">Feature 4</span></span></li>
										<li><span class="icon fa-mobile"><span class="label">Feature 5</span></span></li>
										<li><span class="icon fa-headphones"><span class="label">Feature 6</span></span></li>
									</ul>

								</div>
							</div>
						</section>

					<!-- Two -->
						<section class="wrapper style1 container special">
							<div class="row">
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Recommended for all skill levels</h3>
										</header>
										<p>Our mentors are available 24/7 to help students of all backgrounds, regardless of experience or skill.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Zero fuss</h3>
										</header>
										<p>Implementing WebRTC and Node.JS keyboard and audio analysis, we promise zero connectivity issues, no bulky software, and no aggravating delays.</p>
									</section>

								</div>
								<div class="4u 12u(narrower)">

									<section>
										<span class="icon featured fa-check"></span>
										<header>
											<h3>Pay as you go</h3>
										</header>
										<p>With a pay-per-minute tutoring plan, you have the flexibility to choose how and when you would like your lessons.</p>
									</section>

								</div>
							</div>
						</section>

					<!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2>More Features</h2>
							</header>

							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<header>
											<h3>Q&amp;A Forum</h3>
										</header>
										<p>All users are open to posing questions on our forum, where students and mentors collaborate to give advice to less experienced players.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
										<header>
											<h3>Record Sessions</h3>
										</header>
										<p>With a built-in video recording system, you can easily record lessons and return to past sessions in your account.</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
										<header>
											<h3>Hold Masterclasses</h3>
										</header>
										<p>Supporting up to 256 users per conference call, experienced mentors can easily hold master classes, providing instruction to hundreds of eager students.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="#" class="image featured"><img src="images/pic04.jpg" alt="" /></a>
										<header>
											<h3>Flexible Hours</h3>
										</header>
										<p>Students and mentors can set up their own schedules through our interactive scheduler, receiving updates and notifications prior to lessons, as well as the freedom to decide the length and duration of sessions.</p>
									</section>

								</div>
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="about.html" class="button">See More</a></li>
								</ul>
							</footer>

						</section>

				</article>

			<!-- CTA -->
				<section id="cta">

					<header>
						<h2>Ready to <strong>join</strong>?</h2>
						<p>We're so excited to have you in our vibrant, growing community. <br>Our mantra - that you're never too old to start playing - holds true for all of our customers, <br>and we're sure it'll hold true for you as well.</p>
					</header>
					<footer>
						<ul class="buttons">
							<li><a href="signup.html" class="button special">Sign Up</a></li>
						</ul>
					</footer>

				</section>

			<!-- Footer -->
				<footer id="footer">

					<ul class="icons">
						<li><a href="#" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon circle fa-google-plus"><span class="label">Google+</span></a></li>
						<li><a href="#" class="icon circle fa-github"><span class="label">Github</span></a></li>
					
					</ul>

					<ul class="copyright">
						<li>&copy; Piano++</li><li>Made with ♥ at <a href="http://angelhack.com/hackathon/manhattan-2015/">Angelhack</a></li>
					</ul>

				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://img.youtube.com/vi/EMZ-4_hG248/0.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://cdn2.hubspot.net/hub/99598/file-17491947-jpg/images/yamaha_piano_playing.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="http://farm4.staticflickr.com/3561/3470692506_639b65c7f8_z.jpg" alt="">
            </div>
        </div>
</div>
