<div class="center jumbotron">
	<h1>Welcome to Piano++</h1>
	<h2>This is the home page for the best on-demand piano tutoring site in the world</h2>
	<%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
</div>